.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.intro h1 {
    font-size: 2em;
}

.app {
    display: none;
}

body {
    font-family: monospace;
    font-weight: 800;
    margin: 0;
}

button {
    font-family: monospace;
    border: 2px solid rgb(34, 39, 63);
    background: none;
    border-radius: 3px;
    font-size: 1.2em;
    padding: .5em 1em;
    cursor: pointer;
}

p {
    font-size: 1.2em;
}

.blink-me {
    font-size: 1.5em;
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.data {
    font-size: 1.5em;
    overflow-y: scroll;
    height: 90vh;
    padding: 1em;
}


footer {
    position: absolute;
    bottom: 1em;
    text-align: center;
    width: 100%;
}